body{
  background-color: #3f3f3f;
  text-align: center;
}

label {
  color: #8181ff;
}

header {
  color: white;
  margin-bottom: 30px;
}

label[for=newToDoText]{
  margin-right: 10px;
  font-size: 1.4em;
  font-weight: .5;
}

input[type=text]{
  margin-right: 10px;
  margin-top: 10px;
  height: 20px;
  border-radius: 3px;
}

button[type=submit]{
  background-color: #8181ff;
  color: white;
  border-width: none;
  margin-right: 5px;
  border-radius: 5px;
  height: 25px;
  font-size: .9em;
  margin-top: 20px;
}

button[type=delete] {
  background-color: #cb4154;
  color: white;
  border-radius: 5px;
  height: 25px;
  font-size: .9em;
  margin-top: 15px;
}
